@using LAHJA.Data.UI.Components
<style>
 .feature-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding: 20px;
/*         border: 1px solid #ddd;
 */        border-radius: 8px;
        max-width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .feature-content h3 {
        margin: 0;
        font-size: 1.2rem;
    }

    .feature-content p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: #555;
    }

    .feature-content a {
        color: blue;
        text-decoration: none;
    }

        .feature-content a:hover {
            text-decoration: underline;
        }

 

</style>

       <div style="display: flex; justify-content: center; align-items: center;">
    <MudPaper Class="p-4 feature-container" Style="box-shadow: none !important; max-width: 400px; width: 100%;">
        <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.75 4.25C2.438 4.25 3 3.687 3 3c0-.688-.563-1.25-1.25-1.25C1.062 1.75.5 2.313.5 3c0 .7.563 1.25 1.25 1.25Zm0 5C2.438 9.25 3 8.687 3 8c0-.688-.563-1.25-1.25-1.25C1.062 6.75.5 7.313.5 8c0 .7.563 1.25 1.25 1.25Zm0 5C2.438 14.25 3 13.687 3 13c0-.688-.563-1.25-1.25-1.25-.688 0-1.25.563-1.25 1.25 0 .7.563 1.25 1.25 1.25Z"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2.875C4 2.392 4.392 2 4.875 2h9.75a.875.875 0 0 1 0 1.75h-9.75A.875.875 0 0 1 4 2.875Zm0 5.126c0-.483.392-.875.875-.875h9.75a.875.875 0 0 1 0 1.75h-9.75A.875.875 0 0 1 4 8.001Zm0 5.124c0-.483.392-.875.875-.875h9.75a.875.875 0 0 1 0 1.75h-9.75A.875.875 0 0 1 4 13.125Z"></path>
        </svg>

        <MudTypography>@Params.Titel</MudTypography>

        <MudText Class="feature-content">
            @Params.Description
            <MudLink Href="https://docs.stripe.com/billing/entitlements" Target="_blank">View docs</MudLink>
        </MudText>

        <ButtonCardCreate Label="@Params.Label" OnClick="OnClick" />
    </MudPaper>
</div>
@code{


    [Parameter] public EventCallback<CardActionTabel> OnClick { set; get; }

    [Parameter] public PlanCreateStartData Params { set; get; } = new();
}