
<div class="container col-xxl-8 px-4 py-5" style="padding-top:20px" >

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-10 col-sm-8 col-lg-6 imbost">
            <img src="تنزيل (2).jpeg" style="border-radius: 2px 12px" class="d-block mx-lg-auto img-fluid " alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Boost productivity with intelligent automation</h1>
                <MudAlert Severity="Severity.Info">The reactor was fired up successfully

                <p>
                        Most programmers first start writing the code but some experts write the tests first If you write the tests first you will design a better API when you write the code Some consider writing readable code more important than writing documentation.

                    </p>


                </MudAlert>
                <br />

                <MudDivider />
                <br />
                <MudAlert Severity="Severity.Normal">
                    The reactor was fired up successfully

                    <p>
                        Most programmers first start writing the code but some experts write the tests first If you write the tests first you will design a better API when you write the code Some consider writing readable code more important than writing documentation.

                    </p>


                </MudAlert>

               
            </div>
        </div>
    </div>
 