@* <h3>ModelasgCard</h3>
 *@

<div class="display-header-main position-relative" style="position:relative;">
    <div class="wkC position-relative" style="position:relative">
        
        <div  class="wk1 " style="position:relative">


            <div  class="animated-text divtextheaderH">
                    <h1 class="textHeader" > Lahja<span class="testimonial-heading-style"> AI </span></h1>
                <p style="padding:5%;font-size: 17px;border-left: 1px solid #6e6161">
                        We provide models that help to aid in the creation of different attack sequences
                        . You can deal with AGS models choosing the model you want ?.
                    </p>
                <MudButton Href="/chatai"
                           Rel="nofollow noopener"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Custom.Brands.GitHub"
                           Color="Color.Primary">
                    Get  started
                </MudButton>
                </div>
              

           
        </div>
        <div class="wk2" style="padding: 2% 7%;">
                </div>
    </div>
  
    </div>

@code {

}
