
<section class="pt-0">
	<div class="container">
		<div  data-bs-theme="dark">
			<!-- Grad decoration -->
			<div class="position-absolute top-0 end-0 mt-n6">
				<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-8 opacity-3" alt="Grad shape">
			</div>

			<div class="row g-4 align-items-center positionrr">
				<!-- Title and list -->
				<div class="col-lg-6">
					<h2 class="mb-3">Experience the Power of <span class="text-purple">AI Chatbot</span></h2>
					<p class="mb-4">Our AI chatbot offers enhancing customer satisfaction and boosting your business efficiency.</p>
					<a href="pricing-v1.html" class="btn btn-outline-secondary mb-0">Start free trial</a>
				</div>

				<!-- Button -->
				<div class="col-lg-6 position-absolute end-0 top-0 mt-n3 me-n5 d-none d-lg-block" style="margin-inline-end: -242px !important;margin-top: -79px !important;">
					<img src="ai-robot-2.png" alt="" class="movable-image">
				</div>
			</div>
		</div>
	</div>
</section>
 <style>
        /* تنسيق الصورة الأساسية */
        .movable-image {
            transition: transform 0.3s ease; /* تأثير التحريك عند التأشير */
        }

	.positionrr {
		position: relative !important;
		}
        /* عند التأشير على الصورة */
        .movable-image:hover {
            transform: translateX(50px) translateY(30px); /* تحريك الصورة */
        }
		</style>