@using LAHJA.UI.Components.Auth

@using LAHJA.Data.UI.Templates.Auth
@using Microsoft.AspNetCore.Authorization

@inject LAHJA.Data.UI.Templates.Auth.TemplateAuth Template

@attribute [AllowAnonymous]

@if(Template!=null){

    <div Class="p-5 m-auto">
     @*    <MudText Typo="Typo.h6">
            <h4 class="d-flex align-center justify-content-center flex-column">
                Forget Password
            </h4>
        </MudText> *@

        <ForgetPasswordForm Email="@Email"  Message="@Message" OnSubmited="Template.BuilderComponents.SubmitedForgetPassword" />
  
   </div>
}
@code{

    [Parameter] public string Message { set; get; }
    [Parameter] public string Email { set; get; } = "";


    // protected override void OnInitialized()
    // {



    //     responseMessage = Template


    // }

    // private LAHJA.Data.UI.Templates.Auth.TemplateAuth template = new LAHJA.Data.UI.Templates.Auth.TemplateAuth();



}