
<div class="flex flex-col overflow-y-auto py-3 pr-3 max-md:pl-3">
    <div class="relative flex flex-1 flex-col gap-6 overflow-y-hidden rounded-r-xl border-x border-y border-gray-200/80 bg-gradient-to-b from-white via-white p-3 shadow-sm max-md:rounded-xl dark:border-white/5 dark:from-gray-800/40 dark:via-gray-800/40">
        <div class="pb-2 text-sm font-semibold uppercase" data-svelte-h="svelte-kpyyww">
            system
            </div>
        <textarea name="" id="" placeholder="Enter a custom prompt" class="absolute inset-x-0 bottom-0 h-full resize-none bg-transparent px-3 pt-10 text-sm outline-none">

        </textarea>
    </div>
</div>