@page "/Plans"
@using LAHJA.UI.Templates.Plans
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]


 <div class="p-4">
    <TemplatePlans />

</div>


@code{


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}





