
<footer class="svelte-1rjryqp">

	<button id="openModalButton" class="show-api svelte-1rjryqp">
		Use via API
		<img src="data:image/svg+xml,%3csvg%20width='28'%20height='28'%20viewBox='0%200%2028%2028'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M26.9425%202.94265C27.4632%202.42195%2027.4632%201.57773%2026.9425%201.05703C26.4218%200.536329%2025.5776%200.536329%2025.0569%201.05703L22.5713%203.54256C21.1213%202.59333%2019.5367%202.43378%2018.1753%202.64006C16.5495%202.88638%2015.1127%203.66838%2014.3905%204.39053L12.3905%206.39053C12.1405%206.64058%2012%206.97972%2012%207.33334C12%207.68697%2012.1405%208.0261%2012.3905%208.27615L19.7239%2015.6095C20.2446%2016.1302%2021.0888%2016.1302%2021.6095%2015.6095L23.6095%2013.6095C24.3316%2012.8873%2025.1136%2011.4505%2025.36%209.82475C25.5663%208.46312%2025.4066%206.87827%2024.4571%205.42807L26.9425%202.94265Z'%20fill='%233c4555'/%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12.276%2012.9426C12.7967%2012.4219%2012.7967%2011.5777%2012.276%2011.057C11.7553%2010.5363%2010.9111%2010.5363%2010.3904%2011.057L8.66651%2012.7809L8.27615%2012.3905C8.0261%2012.1405%207.68697%2012%207.33334%2012C6.97972%2012%206.64058%2012.1405%206.39053%2012.3905L4.39053%2014.3905C3.66838%2015.1127%202.88638%2016.5495%202.64006%2018.1753C2.43377%2019.5367%202.59333%2021.1214%203.54262%2022.5714L1.05703%2025.057C0.536329%2025.5777%200.536329%2026.4219%201.05703%2026.9426C1.57773%2027.4633%202.42195%2027.4633%202.94265%2026.9426L5.42817%2024.4571C6.87835%2025.4066%208.46315%2025.5663%209.82475%2025.36C11.4505%2025.1136%2012.8873%2024.3316%2013.6095%2023.6095L15.6095%2021.6095C16.1302%2021.0888%2016.1302%2020.2446%2015.6095%2019.7239L15.2188%2019.3332L16.9426%2017.6093C17.4633%2017.0886%2017.4633%2016.2444%2016.9426%2015.7237C16.4219%2015.203%2015.5777%2015.203%2015.057%2015.7237L13.3332%2017.4475L10.5521%2014.6665L12.276%2012.9426Z'%20fill='%23FF7C00'/%3e%3c/svg%3e" alt="logo" class="svelte-1rjryqp">
	</button>



	<div class="svelte-1rjryqp">·</div> <a href="https://gradio.app" class="built-with svelte-1rjryqp" target="_blank" rel="noreferrer">تم الإنشاء بإستخدام Gradio <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='576'%20height='576'%20viewBox='0%200%20576%20576'%20fill='none'%3e%3cpath%20d='M287.5%20229L86%20344.5L287.5%20460L489%20344.5L287.5%20229Z'%20stroke='url(%23paint0_linear_102_7)'%20stroke-width='59'%20stroke-linejoin='round'/%3e%3cpath%20d='M287.5%20116L86%20231.5L287.5%20347L489%20231.5L287.5%20116Z'%20stroke='url(%23paint1_linear_102_7)'%20stroke-width='59'%20stroke-linejoin='round'/%3e%3cpath%20d='M86%20344L288%20229'%20stroke='url(%23paint2_linear_102_7)'%20stroke-width='59'%20stroke-linejoin='bevel'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_102_7'%20x1='60'%20y1='341'%20x2='429.5'%20y2='344'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='%23F9D100'/%3e%3cstop%20offset='1'%20stop-color='%23F97700'/%3e%3c/linearGradient%3e%3clinearGradient%20id='paint1_linear_102_7'%20x1='513.5'%20y1='231'%20x2='143.5'%20y2='231'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='%23F9D100'/%3e%3cstop%20offset='1'%20stop-color='%23F97700'/%3e%3c/linearGradient%3e%3clinearGradient%20id='paint2_linear_102_7'%20x1='60'%20y1='344'%20x2='428.987'%20y2='341.811'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='%23F9D100'/%3e%3cstop%20offset='1'%20stop-color='%23F97700'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e" alt="logo" class="svelte-1rjryqp"></a>
</footer>
<div id="deleteAccountModal" class="modal" style="display: none;">
	<div class="modal-content">

		<div class="api-docs svelte-1rjryqp" style="margin-top:11%">
			<div class="backdrop svelte-1rjryqp">
			</div>
			<div class="api-docs-wrap svelte-1rjryqp">
				<div class="banner-wrap svelte-v3jjme">
					<h2 class="svelte-1i1gjw2">
						<img src="data:image/svg+xml,%3csvg%20width='28'%20height='28'%20viewBox='0%200%2028%2028'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M26.9425%202.94265C27.4632%202.42195%2027.4632%201.57773%2026.9425%201.05703C26.4218%200.536329%2025.5776%200.536329%2025.0569%201.05703L22.5713%203.54256C21.1213%202.59333%2019.5367%202.43378%2018.1753%202.64006C16.5495%202.88638%2015.1127%203.66838%2014.3905%204.39053L12.3905%206.39053C12.1405%206.64058%2012%206.97972%2012%207.33334C12%207.68697%2012.1405%208.0261%2012.3905%208.27615L19.7239%2015.6095C20.2446%2016.1302%2021.0888%2016.1302%2021.6095%2015.6095L23.6095%2013.6095C24.3316%2012.8873%2025.1136%2011.4505%2025.36%209.82475C25.5663%208.46312%2025.4066%206.87827%2024.4571%205.42807L26.9425%202.94265Z'%20fill='%233c4555'/%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12.276%2012.9426C12.7967%2012.4219%2012.7967%2011.5777%2012.276%2011.057C11.7553%2010.5363%2010.9111%2010.5363%2010.3904%2011.057L8.66651%2012.7809L8.27615%2012.3905C8.0261%2012.1405%207.68697%2012%207.33334%2012C6.97972%2012%206.64058%2012.1405%206.39053%2012.3905L4.39053%2014.3905C3.66838%2015.1127%202.88638%2016.5495%202.64006%2018.1753C2.43377%2019.5367%202.59333%2021.1214%203.54262%2022.5714L1.05703%2025.057C0.536329%2025.5777%200.536329%2026.4219%201.05703%2026.9426C1.57773%2027.4633%202.42195%2027.4633%202.94265%2026.9426L5.42817%2024.4571C6.87835%2025.4066%208.46315%2025.5663%209.82475%2025.36C11.4505%2025.1136%2012.8873%2024.3316%2013.6095%2023.6095L15.6095%2021.6095C16.1302%2021.0888%2016.1302%2020.2446%2015.6095%2019.7239L15.2188%2019.3332L16.9426%2017.6093C17.4633%2017.0886%2017.4633%2016.2444%2016.9426%2015.7237C16.4219%2015.203%2015.5777%2015.203%2015.057%2015.7237L13.3332%2017.4475L10.5521%2014.6665L12.276%2012.9426Z'%20fill='%23FF7C00'/%3e%3c/svg%3e" alt="" class="svelte-1i1gjw2"> <div class="title svelte-1i1gjw2">
							API documentation
							<div class="url svelte-1i1gjw2">wasmdashai/LAHJA-AI</div>
						</div>
						<span class="counts svelte-1i1gjw2">
							<button class="sm secondary  svelte-cmf5ev" id="start-api-recorder"> <div class="loading-dot self-baseline svelte-1i1gjw2"></div> <p class="self-baseline btn-text svelte-1i1gjw2">API Recorder</p></button> <p><span class="url svelte-1i1gjw2">1</span> API endpoint<br></p>
						</span>
					</h2>
					<button id="closeModalButton" class="svelte-1i1gjw2"><svg width="100%" height="100%" viewBox="0 0 5 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill: currentcolor; fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2;"><g><path d="M3.789,0.09C3.903,-0.024 4.088,-0.024 4.202,0.09L4.817,0.705C4.931,0.819 4.931,1.004 4.817,1.118L1.118,4.817C1.004,4.931 0.819,4.931 0.705,4.817L0.09,4.202C-0.024,4.088 -0.024,3.903 0.09,3.789L3.789,0.09Z"></path><path d="M4.825,3.797C4.934,3.907 4.934,4.084 4.825,4.193L4.193,4.825C4.084,4.934 3.907,4.934 3.797,4.825L0.082,1.11C-0.027,1.001 -0.027,0.823 0.082,0.714L0.714,0.082C0.823,-0.027 1.001,-0.027 1.11,0.082L4.825,3.797Z"></path></g></svg></button>
				</div> <div class="docs-wrap svelte-v3jjme">
					<div class="client-doc svelte-v3jjme">
						<p style="font-size: var(--text-lg);">
							Choose a language to see the code snippets for interacting with the
							API.
						</p>
					</div> <div class="endpoint svelte-v3jjme">
						<div class="snippets svelte-v3jjme"><li class="snippet current-lang svelte-v3jjme"><img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20aria-hidden='true'%20focusable='false'%20role='img'%20width='1em'%20height='1em'%20preserveAspectRatio='xMidYMid%20meet'%20viewBox='0%200%2032%2032'%20%3e%3cpath%20d='M15.84.5a16.4,16.4,0,0,0-3.57.32C9.1,1.39,8.53,2.53,8.53,4.64V7.48H16v1H5.77a4.73,4.73,0,0,0-4.7,3.74,14.82,14.82,0,0,0,0,7.54c.57,2.28,1.86,3.82,4,3.82h2.6V20.14a4.73,4.73,0,0,1,4.63-4.63h7.38a3.72,3.72,0,0,0,3.73-3.73V4.64A4.16,4.16,0,0,0,19.65.82,20.49,20.49,0,0,0,15.84.5ZM11.78,2.77a1.39,1.39,0,0,1,1.38,1.46,1.37,1.37,0,0,1-1.38,1.38A1.42,1.42,0,0,1,10.4,4.23,1.44,1.44,0,0,1,11.78,2.77Z'%20fill='%235a9fd4'%20%3e%3c/path%3e%3cpath%20d='M16.16,31.5a16.4,16.4,0,0,0,3.57-.32c3.17-.57,3.74-1.71,3.74-3.82V24.52H16v-1H26.23a4.73,4.73,0,0,0,4.7-3.74,14.82,14.82,0,0,0,0-7.54c-.57-2.28-1.86-3.82-4-3.82h-2.6v3.41a4.73,4.73,0,0,1-4.63,4.63H12.35a3.72,3.72,0,0,0-3.73,3.73v7.14a4.16,4.16,0,0,0,3.73,3.82A20.49,20.49,0,0,0,16.16,31.5Zm4.06-2.27a1.39,1.39,0,0,1-1.38-1.46,1.37,1.37,0,0,1,1.38-1.38,1.42,1.42,0,0,1,1.38,1.38A1.44,1.44,0,0,1,20.22,29.23Z'%20fill='%23ffd43b'%20%3e%3c/path%3e%3c/svg%3e" alt="" class="svelte-v3jjme"> python </li><li class="snippet inactive-lang svelte-v3jjme"><img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20aria-hidden='true'%20focusable='false'%20role='img'%20width='1em'%20height='1em'%20preserveAspectRatio='xMidYMid%20meet'%20viewBox='0%200%2032%2032'%20%3e%3crect%20width='32'%20height='32'%20fill='%23f7df1e'%3e%3c/rect%3e%3cpath%20d='M21.5,25a3.27,3.27,0,0,0,3,1.83c1.25,0,2-.63,2-1.49,0-1-.81-1.39-2.19-2L23.56,23C21.39,22.1,20,20.94,20,18.49c0-2.25,1.72-4,4.41-4a4.44,4.44,0,0,1,4.27,2.41l-2.34,1.5a2,2,0,0,0-1.93-1.29,1.31,1.31,0,0,0-1.44,1.29c0,.9.56,1.27,1.85,1.83l.75.32c2.55,1.1,4,2.21,4,4.72,0,2.71-2.12,4.19-5,4.19a5.78,5.78,0,0,1-5.48-3.07Zm-10.63.26c.48.84.91,1.55,1.94,1.55s1.61-.39,1.61-1.89V14.69h3V25c0,3.11-1.83,4.53-4.49,4.53a4.66,4.66,0,0,1-4.51-2.75Z'%20%3e%3c/path%3e%3c/svg%3e" alt="" class="svelte-v3jjme"> javascript </li><li class="snippet inactive-lang svelte-v3jjme"><img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20version='1.1'%20id='Layer_1'%20x='0px'%20y='0px'%20viewBox='0%200%20150%20150'%20style='enable-background:new%200%200%20150%20150;%20background-color:%20%2372a824;'%20xml:space='preserve'%3e%3cscript%20xmlns=''/%3e%3cstyle%20type='text/css'%3e%20.st0{fill:%23FFFFFF;}%20%3c/style%3e%3cg%3e%3cpath%20class='st0'%20d='M118.9,40.3L81.7,18.2c-2.2-1.3-4.7-2-7.2-2s-5,0.7-7.2,2L30.1,40.3c-4.4,2.6-7.2,7.5-7.2,12.8v44.2%20c0,5.3,2.7,10.1,7.2,12.8l37.2,22.1c2.2,1.3,4.7,2,7.2,2c2.5,0,5-0.7,7.2-2l37.2-22.1c4.4-2.6,7.2-7.5,7.2-12.8V53%20C126.1,47.8,123.4,42.9,118.9,40.3z%20M90.1,109.3l0.1,3.2c0,0.4-0.2,0.8-0.5,1l-1.9,1.1c-0.3,0.2-0.5,0-0.6-0.4l0-3.1%20c-1.6,0.7-3.2,0.8-4.3,0.4c-0.2-0.1-0.3-0.4-0.2-0.7l0.7-2.9c0.1-0.2,0.2-0.5,0.3-0.6c0.1-0.1,0.1-0.1,0.2-0.1%20c0.1-0.1,0.2-0.1,0.3,0c1.1,0.4,2.6,0.2,3.9-0.5c1.8-0.9,2.9-2.7,2.9-4.5c0-1.6-0.9-2.3-3-2.3c-2.7,0-5.2-0.5-5.3-4.5%20c0-3.3,1.7-6.7,4.4-8.8l0-3.2c0-0.4,0.2-0.8,0.5-1l1.8-1.2c0.3-0.2,0.5,0,0.6,0.4l0,3.2c1.3-0.5,2.5-0.7,3.6-0.4%20c0.2,0.1,0.3,0.4,0.2,0.7l-0.7,2.8c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0.1-0.3,0%20c-0.5-0.1-1.6-0.4-3.4,0.6c-1.9,1-2.6,2.6-2.5,3.8c0,1.5,0.8,1.9,3.3,1.9c3.4,0.1,4.9,1.6,5,5C94.7,103.4,92.9,107,90.1,109.3z%20M109.6,103.9c0,0.3,0,0.6-0.3,0.7l-9.4,5.7c-0.2,0.1-0.4,0-0.4-0.3v-2.4c0-0.3,0.2-0.5,0.4-0.6l9.3-5.5c0.2-0.1,0.4,0,0.4,0.3%20V103.9z%20M116.1,49.6L80.9,71.3c-4.4,2.6-7.6,5.4-7.6,10.7v43.4c0,3.2,1.3,5.2,3.2,5.8c-0.6,0.1-1.3,0.2-2,0.2%20c-2.1,0-4.1-0.6-5.9-1.6l-37.2-22.1c-3.6-2.2-5.9-6.2-5.9-10.5V53c0-4.3,2.3-8.4,5.9-10.5l37.2-22.1c1.8-1.1,3.8-1.6,5.9-1.6%20s4.1,0.6,5.9,1.6l37.2,22.1c3.1,1.8,5.1,5,5.7,8.5C122.1,48.4,119.3,47.7,116.1,49.6z'/%3e%3c/g%3e%3c/svg%3e" alt="" class="svelte-v3jjme"> bash </li></div> <p class="padded svelte-v3jjme">
							1. Install the
							<span style="text-transform: capitalize;">python</span>
							client (<a href="https://www.gradio.app/guides/getting-started-with-the-python-client" target="_blank" class="svelte-v3jjme">docs</a>) if you don't already have it installed.
						</p> <div id="" class="block svelte-12cmxck padded border_contrast" style="border-style: solid; overflow: visible; min-width: min(0px, 100%); border-width: var(--block-border-width);"><code class="svelte-hq8ezf"><div class="copy svelte-hq8ezf"><button class="sm secondary  svelte-cmf5ev" id=""> copy</button></div> <div><pre class="svelte-hq8ezf">$ pip install gradio_client</pre></div></code></div> <p class="padded svelte-v3jjme">
							2. Find the API endpoint below corresponding to your desired
							function in the app. Copy the code snippet, replacing the
							placeholder values with your own input data.
							If this is a private Space, you may need to pass your
							Hugging Face token as well (<a href="https://www.gradio.app/guides/getting-started-with-the-python-client#connecting-to-a-hugging-face-space" class="underline svelte-v3jjme" target="_blank">read more</a>).

							Or use the
							<button class="sm secondary  svelte-cmf5ev" id=""> <div class="loading-dot svelte-v3jjme"></div> <p class="self-baseline svelte-v3jjme">API Recorder</p></button>
							to automatically generate your API requests.
						</p> <div class="endpoint-container svelte-v3jjme">
							<div class="container svelte-114qcyq">
								<h3 class="svelte-41kcm6">
									api_name:
									<span class="post svelte-41kcm6">/predict</span>
								</h3> <div id="" class="block svelte-12cmxck padded" style="border-style: solid; overflow: visible; min-width: min(0px, 100%); border-width: var(--block-border-width);">
									<code class="svelte-114qcyq">
										<div class="copy svelte-114qcyq"><button class="sm secondary  svelte-cmf5ev" id=""> copy</button></div> <div>
											<pre class="svelte-114qcyq"><span class="highlight">from</span> gradio_client <span class="highlight">import</span> Client

												client = Client(<span class="token string svelte-114qcyq">"wasmdashai/LAHJA-AI"</span>)
											result = client.<span class="highlight">predict</span>(
													text=<span>"Hello!!"</span>,
													name_model=<span>"wasmdashai/vits-ar-sa-huba-v2"</span>,
													speaking_rate=<span>0.8</span>,
													api_name=<span class="api-name svelte-114qcyq">"/predict"</span>
											)
											<span class="highlight">print</span>(result)</pre>
										</div>
									</code>
								</div>
							</div> <h4 class="svelte-1yt946s">
								<div class="toggle-icon svelte-1yt946s"><div class="toggle-dot svelte-1yt946s"></div></div>
								Accepts 3 parameters:
							</h4> <div>
								<hr class="hr svelte-1yt946s"> <div style="margin: 10px;">
									<p style="white-space: nowrap; overflow-x: auto;"><span class="code svelte-1yt946s" style="margin-right: 10px;">text</span> <span class="code highlight svelte-1yt946s" style="margin-right: 10px;">str</span> <span style="font-weight: bold;">Required</span></p> <p class="desc svelte-1yt946s">
										The input value that is provided in the "parameter_3" Textbox
										component.
									</p>
								</div><hr class="hr svelte-1yt946s"> <div style="margin: 10px;">
									<p style="white-space: nowrap; overflow-x: auto;"><span class="code svelte-1yt946s" style="margin-right: 10px;">name_model</span> <span class="code highlight svelte-1yt946s" style="margin-right: 10px;">Literal['wasmdashai/vits-ar-sa-huba-v1', 'wasmdashai/vits-ar-sa-huba-v2', 'wasmdashai/vits-ar-sa-A', 'wasmdashai/vits-ar-ye-sa', 'wasmdashai/vits-ar-sa-M-v1']</span> <span>Default: </span><span class="code svelte-1yt946s" style="font-size: var(--text-sm);">"wasmdashai/vits-ar-sa-huba-v2"</span></p> <p class="desc svelte-1yt946s">
										The input value that is provided in the "اختر النموذج" Dropdown
										component.
									</p>
								</div><hr class="hr svelte-1yt946s"> <div style="margin: 10px;">
									<p style="white-space: nowrap; overflow-x: auto;"><span class="code svelte-1yt946s" style="margin-right: 10px;">speaking_rate</span> <span class="code highlight svelte-1yt946s" style="margin-right: 10px;">float</span> <span>Default: </span><span class="code svelte-1yt946s" style="font-size: var(--text-sm);">0.8</span></p> <p class="desc svelte-1yt946s">
										The input value that is provided in the "parameter_1" Slider
										component.
									</p>
								</div>
							</div>  <h4 class="svelte-16h224k">
								<div class="toggle-icon svelte-16h224k"><div class="toggle-dot toggle-right svelte-16h224k"></div></div>
								Returns tuple of 2
								elements
							</h4> <div>
								<hr class="hr svelte-16h224k"> <div style="margin: 10px;">
									<p><span class="code svelte-16h224k">[0]</span> <span class="code highlight svelte-16h224k">filepath</span></p> <p class="desc svelte-16h224k">
										The output value that appears in the "output 0" Audio
										component.
									</p>
								</div><hr class="hr svelte-16h224k"> <div style="margin: 10px;">
									<p><span class="code svelte-16h224k">[1]</span> <span class="code highlight svelte-16h224k">filepath</span></p> <p class="desc svelte-16h224k">
										The output value that appears in the "output 1" Audio
										component.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// حدد عناصر الزر والنافذة المنبثقة
	const openModalButton = document.getElementById('openModalButton');
	const closeModalButton = document.getElementById('closeModalButton');
	const deleteAccountModal = document.getElementById('deleteAccountModal');

	// عند النقر على زر الفتح
	openModalButton.addEventListener('click', () => {
		deleteAccountModal.style.display = 'block'; // أظهر النافذة
	});

	// عند النقر على زر الإغلاق
	closeModalButton.addEventListener('click', () => {
		deleteAccountModal.style.display = 'none'; // أخفِ النافذة
	});

	// إغلاق النافذة عند النقر خارج المحتوى
	window.addEventListener('click', (event) => {
		if (event.target === deleteAccountModal) {
			deleteAccountModal.style.display = 'none'; // أخفِ النافذة
		}
	});

</script>
