@using LAHJA.Data.UI.Components.Payment.CreditCard
@using LAHJA.UI.Components.Billing.Shared
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

  <div class="w-75 m-5">
        <CardsMethodsSection BuildData="@BuildData"
                        SelectedActiveCard="OnSelectedActiveCard"
                        EditCard="OnSubmitUpdateCard" 
                        CreateCard="OnSubmitCreateCard"
                        DeleteCard="OnSubmitDeleteCard" />
</div>

@code {

    [Parameter] public EventCallback<CardDetails> SubmitSelectedActiveCard { get; set; }
    [Parameter] public EventCallback<CardDetails> SubmitCreateCard { get; set; }
    [Parameter] public EventCallback<CardDetails> SubmitUpdateCard { get; set; }
    [Parameter] public EventCallback<CardDetails> SubmitDeleteCard { get; set; }

    [Parameter] public List<CardDetails> BuildData { get; set; } 

    private CardDetails card { get; set; }

    private async void OnSelectedActiveCard(CardDetails data)
    {
        if (SubmitSelectedActiveCard.HasDelegate)
        {
            card = data;
            StateHasChanged();
            await SubmitSelectedActiveCard.InvokeAsync(data);
        }
    }

    private async Task OnSubmitCreateCard(CardDetails data)
    {
        if (SubmitCreateCard.HasDelegate)
        {
            await SubmitCreateCard.InvokeAsync(data);
        }
    }
    private async Task OnSubmitUpdateCard(CardDetails data)
    {
        if (SubmitUpdateCard.HasDelegate)
        {
            await SubmitUpdateCard.InvokeAsync(data);
        }
    }
    private async Task OnSubmitDeleteCard(CardDetails data)
    {
        if (SubmitDeleteCard.HasDelegate)
        {
            await SubmitDeleteCard.InvokeAsync(data);
        }
    }

}
