<section class="pt-6 border-gray-100 md:col-span-8 lg:col-span-9 xl:col-span-9 md:px-4 py-4">
    <div class="mb-6">
        <div class="flex justify-between">
            <h3 class="flex flex-row items-center text-xl font-bold">
                Organizations Settings
            </h3>
        </div>
    </div>
    <div class="mb-8 flex flex-col space-y-5">
        <div class="overview-card-wrapper btn-1 flex items-center px-3 py-2 text-gray-600">
            <p style="margin-right: auto;"> You are not a member of any organization.</p>
        </div>
    </div>
</section>
